<%= form_for @profile, html: { multipart: true }  do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :image, 'Kuva' %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name, 'Nimesi' %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :nickname, 'Snapchat k채ytt채j채nimesi' %><br>
    <%= f.text_field :nickname %>
  </div>
  
   <div class="field">
    <%= f.label :description, 'Kirjoita itsest채ni lyhyt esittely' %><br>
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <button class="linkbutton"><%= f.submit %></button>
  </div>
<% end %>
