
<% @profiles.each do |profile| %>
<% if profile.user == current_user %>
<section id="addNewProfile" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3  text-center">
			<h2>Profiilisi tiedot</h2>
			<h3>Alla näet profiilisi tiedot, voit lisää useampia profiileita ja ne näkyvät alla olevasta listasta.</h3>
			<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
			<p>Et ole vielä lisännyt profiiliasi</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3  text-center">
				<%= profile.name %><br/>
				<%= link_to 'Näytä', profile %>
				<%= link_to 'Muokkaa', edit_profile_path(profile) %>
				<%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
	</div>
</section>
<% end %>
<% end %>	


<section id="profiles">
	<div class="container-fluid">
		<div class="row">
			<% flash.each do |name, msg| %>
			     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<% Category.all.each do |category| %>
					<%= link_to category.name, profiles_path(category: category.name) %>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					
					<% @profiles.each do |profile| %>
					<div class="col-xs-12 col-sm-4">
						<div class="snapchatProfileContentImage">
						    <%= image_tag profile.image.url(:medium), :class => "img-bg" %>    
						</div>
						<div class="snapchatProfileContainer">
							<div class="snapchatProfileContent">
								<div class="snapchatProfileContentDetails">
									<h1 class="profileName"><%= profile.name %></h1>
									<h2 class="profileNickName">@<%= profile.nickname %></h2>
									<p class="profileAbout"><%= profile.description %></p>
									
									<%= profile.category_id %>
									
								    <%= link_to 'Näytä', profile %>
								    <% if profile.user == current_user %>
								    <%= link_to 'Muokkaa', edit_profile_path(profile) %>
								    <%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
								    <% end %>
							    </div>
						    </div>
					    </div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>