<%= render "layouts/header" %>

<%= render "layouts/filters" %>

<section id="ownProfiles">
<div class="collapse" id="exCollapsingNavbar">
  <div class="bg-inverse p-a">
    <div class="row">
		<% if user_signed_in? %>
		<div class="col-xs-12 col-sm-3">
			<div id="noProfileAdded">
				<h1>Omat profiilit</h1>
				<h2>Lisää oma snapchat tunnuksesi painamalla alla olevaa nappulaa.</h2>
				<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
				<h3>Voi lisää useampia tunnuksia sivulle.</h3>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<div id="userProfilesTable">
			<h1>Lista omista profiileista</h1>
			<table class="table table-striped">
				<thead>
				<tr>
				  <th>Nimi</th>
				  <th>Käyttäjätunnus</th>
				  <th>Toiminto</th>
				</tr>
				</thead>
				<tbody>
					<% @profiles.each do |profile| %>
					<% if profile.user == current_user %>
					<tr>
						<td><%= profile.name %></td>
						<td>@<%= profile.nickname %></td>
						<td>
							<%= link_to 'Muokkaa', edit_profile_path(profile) %>
							<%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
						</td>
					</tr>
					<% end %>
					<% end %>
				</tbody>							
			</table>	
			</div>
		</div>
		<% end %>
	</div>
  </div>
</div>
</section>


<section id="profiles">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<% @profiles.each do |profile| %>
					<div class="col-xs-12 col-sm-3">
						<div class="snapchatProfileContentImage">
						    <%= image_tag profile.image.url(:medium), :class => "img-bg" %>    
						</div>
						<div class="snapchatProfileContainer">
							<div class="snapchatProfileContent">
								<div class="snapchatProfileContentDetails">
									<h1 class="profileName"><%= profile.name %></h1>
									<h2 class="profileNickName">@<%= profile.nickname %></h2>
									<p class="profileAbout"><%= profile.description %></p>
									<% profile.tags.any? %>
										<% profile.tags.each do |tag| %>
											<span class="tags">
											#<%= link_to tag.name, tag_path(tag.name) %>
											</span>  
									<% end %>
									<div class="profileLinks">
									    <%= link_to 'Näytä', profile %>
									    <% if profile.user == current_user %>
									    <%= link_to 'Muokkaa', edit_profile_path(profile) %>
									    <%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Oletko varma' } %>
									    <% end %>
								    </div>
							    </div>
						    </div>
					    </div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>