<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="/"><div id="snappi-suomi-logo"></div></a>
				<a href="/"><h1>Snäppääjät</h1></a>
				<h4>Löydä kotimaisia snäppääjiä ja lisää oma snapchat profiilisi listaan</h4>	
				<% if user_signed_in? %>
				<% else %>
					<%= link_to "Kirjaudu", new_user_session_path, :class => "linkbutton"  %>
					<%= link_to "Rekisteröidy", new_user_registration_path, :class => "linkbutton"  %>
				<% end %> 
				
				<% if user_signed_in? %>
		        	<%= link_to "Kirjaudu ulos", destroy_user_session_path, method: :delete, :class => "linkbutton" %>
					<%= link_to "Muokkaa käyttäjätunnustasi", edit_user_registration_path, :class => "linkbutton" %>
		        <% else %>
		        <% end %>
			</div>
		</div>
	</div>
</header>

<section id="editUser" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3  text-center">
				<div class="row">

				<h2>Muokkaa käyttäjunnustasi</h2>
				
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				  <%= devise_error_messages! %>
				
				  <div class="field">
				    <%= f.label :email, 'Sähköposti' %><br />
				    <%= f.email_field :email, autofocus: true %>
				  </div>
				
				<div class="field">
				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <small>Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
				  <% end %>
				</div>
				
				  <div class="field">
				    <%= f.label :password, 'Salasana' %> <small>( Jätä tyhjäksi jos et halua muuttaa salasanaa)</small>
				    <%= f.password_field :password, autocomplete: "off" %>
				  </div>
				
				  <div class="field">
				    <%= f.label :password_confirmation, 'Salasana vahvistus'%><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off" %>
				  </div>
				
				  <div class="field">
				    <%= f.label :current_password, 'Nykyinen salasana' %> <small>( Syötä salsanasi jotta muutokset tulevat voimaan )</small>
				    <%= f.password_field :current_password, autocomplete: "off" %>
				  </div>
				
				  <div class="actions">
				  	<button class="linkbutton"><%= f.submit "Päivitä" %></button>
				  </div>
				<% end %>
				<br/>
				<p>Haluatko poistaa käyttäjä tunnuksesi? <br/>
				<%= link_to "Poista tunnukseni", registration_path(resource_name), data: { confirm: "Oletko aivan varma?" }, method: :delete, class: "alertLink" %></p>
				
				<%= link_to "Peruuta", :root %>
				</div>
			</div>
		</div>
	</div>
</section>

