<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="/"><div id="snappi-suomi-logo"></div></a>
				<a href="/"><h1>Snäppääjät</h1></a>
				<h4>Löydä kotimaisia snäppääjiä ja lisää oma snapchat profiilisi listaan</h4>	
			</div>
		</div>
	</div>
</header>

<section id="signUp" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3  text-center">
				<h2>Rekisteröidy</h2>
				<h3>Täytä alla oleva lomake ja olet mukana Snäpääjät yhteisössä.</h3>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>
				
				  <div class="field">
				    <%= f.label :email, 'Sähköpostisi'  %><small>( Ei näytetä missään )</small>
				    <%= f.email_field :email, autofocus: true %>
				  </div>
				
				  <div class="field">
				    <%= f.label :password, 'Salasana' %>
				    <% if @minimum_password_length %>
				    <small>( Vähintää  <%= @minimum_password_length %> merkkiä ps: käytä salasanaa jota et käytä sähkostissa tai muualla )</small>
				    <% end %>
				    <%= f.password_field :password, autocomplete: "off" %>
				  </div>
				
				  <div class="field">
				    <%= f.label :password_confirmation, 'Salasana vahvistus' %><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off" %>
				  </div>
				
				  <div class="actions">
				    <button class="linkbutton"><%= f.submit "Rekisteröidy" %></button>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</section>