<%= render "layouts/header" %>

<section id="filterMenu">
	<nav class="navbar">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776; Filtteröinti</button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
	<a class="navbar-brand" href="#">Filtteröinti</a>
	<ul class="nav navbar-nav">
		<% Category.first(4).each do |category| %>
			<li class="nav-item">
				<%= link_to category.name, profiles_path(category: category.name) , :class => "nav-link" %>
			</li>
		<% end %>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			Lisää aihetunnisteita
		</a>
		<div class="dropdown-menu">
		  <% Category.all.each do |category| %>
		  <%= link_to category.name, profiles_path(category: category.name) , :class => "dropdown-item" %>
		  <% end %>
		</div>
		</li>
	  </ul>
	</div>
	</nav>
</section>

<div class="row">
	<% flash.each do |name, msg| %>
	     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	<% end %>
</div>

<section id="profiles">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					
					<% if user_signed_in? %>
					<% unless @profiles.blank? %>
					<div class="col-xs-12 col-sm-3">
						<div id="noProfileAdded">
							<h1>Et ole vielä listalla.</h1>
							<h2>Lisää oma snapchat tunnuksesi painamalla alla olevaa nappulaa.</h2>
							<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
							<h3>Voi lisää useampia tunnuksia sivulle.</h3>
						</div>
					</div>
					<% else %>
					
					<% end %>
					<% end %>
					
					<% @profiles.each do |profile| %>
					<div class="col-xs-12 col-sm-3">
						<div class="snapchatProfileContentImage">
						    <%= image_tag profile.image.url(:medium), :class => "img-bg" %>    
						</div>
						<div class="snapchatProfileContainer">
							<div class="snapchatProfileContent">
								<div class="snapchatProfileContentDetails">
									<h1 class="profileName"><%= profile.name %></h1>
									<h2 class="profileNickName">@<%= profile.nickname %></h2>
									<p class="profileAbout"><%= profile.description %></p>
									<div class="profileLinks">
									    <%= link_to 'Näytä', profile %>
									    <% if profile.user == current_user %>
									    <%= link_to 'Muokkaa', edit_profile_path(profile) %>
									    <%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Oletko varma' } %>
									     <% end %>
								    </div>
							    </div>
						    </div>
					    </div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<!--, renderer: BootstrapPagination::Rails-->
<%= will_paginate @profiles ,previous_label: 'Uusimmat', next_label: 'Vanhimmat', inner_window: 1, outer_window: 0 %>