<%= render "layouts/header" %>

<%= render "layouts/filters" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<% flash.each do |name, msg| %>
		    	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
		</div>
	</div>
</div>

<section id="profiles">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<% @profiles.each_slice(4).each do |group| %>
				<div class="row">
					<% group.each do |profile| %>
					<div class="col-xs-12 col-sm-3">
						<div class="snapchatProfileContentImage">
						    <%= image_tag profile.image.url(:medium), :class => "img-bg" %>    
						</div>
						<div class="snapchatProfileContainer">
							<div class="snapchatProfileContent">
								<div class="snapchatProfileContentDetails">
									<h1 class="profileName"><%= profile.name %></h1>
									<h2 class="profileNickName">@<%= profile.nickname %></h2>
									<p class="profileAbout"><%= profile.description %></p>
									<% profile.tags.any? %>
										<% profile.tags.each do |tag| %>
											<span class="tags">
											#<%= link_to tag.name, tag_path(tag.name) %>
											</span>  
										
									<% end %>
									<div class="profileLinks">
									    <%= link_to 'Näytä', profile %>
									    <% if profile.user == current_user %>
									    <%= link_to 'Muokkaa', edit_profile_path(profile) %>
									    <%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Oletko varma' } %>
									     <% end %>
								    </div>
							    </div>
						    </div>
					    </div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
<!--, renderer: BootstrapPagination::Rails-->
<%= will_paginate @profiles ,previous_label: 'Uusimmat', next_label: 'Vanhimmat', inner_window: 1, outer_window: 0 %>